lib/hmrc/validation-2013/envelope.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
XML Schema Rec
Generated by CoreFiling: generator revision 352826
Fri Aug 16 12:00:36 BST 2013

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:hd="http://www.govtalk.gov.uk/CM/envelope" targetNamespace="http://www.govtalk.gov.uk/CM/envelope" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#" version="2.0-HMRC" id="GovTalk-Envelope" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="http://www.w3.org/TR/2001/PR-xmldsig-core-20010820/xmldsig-core-schema.xsd"/>
  <xsd:annotation>
    <xsd:documentation>This schema is used as the envelope for all GovTalk messages.  It is described in detail in a separate document on the GovTalk web site.</xsd:documentation>
    <xsd:appinfo>
      <gt:KeyWords xmlns:gt="http://www.govtalk.gov.uk/CM/core">GovTalk, header, envelope</gt:KeyWords>
      <gms:Metadata xmlns:gms="http://www.govtalk.gov.uk/CM/gms-xs">
        <gms:Date>
          <gms:Modified>2013-08-16</gms:Modified>
        </gms:Date>
        <gms:Relation>
          <gms:Requires>xmldsig-core-schema.xsd</gms:Requires>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>GovTalkMessage</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>UnicodeNameString</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Subject>
          <gms:Category>Economics, Finance and Tax</gms:Category>
        </gms:Subject>
        <gms:Title>GovTalk-Envelope schema</gms:Title>
        <gms:Type>message</gms:Type>
      </gms:Metadata>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name="GovTalkMessage">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="1" name="EnvelopeVersion" type="xsd:string"/>
        <xsd:element minOccurs="1" maxOccurs="1" name="Header">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="MessageDetails">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="Class">
                      <xsd:simpleType>
                        <xsd:restriction base="hd:UnicodeNameString">
                          <xsd:minLength value="4"/>
                          <xsd:maxLength value="32"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="Qualifier">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:enumeration value="request"/>
                          <xsd:enumeration value="acknowledgement"/>
                          <xsd:enumeration value="response"/>
                          <xsd:enumeration value="poll"/>
                          <xsd:enumeration value="error"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="Function">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:enumeration value="list"/>
                          <xsd:enumeration value="read"/>
                          <xsd:enumeration value="delete"/>
                          <xsd:enumeration value="add"/>
                          <xsd:enumeration value="submit"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="TransactionID">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="0"/>
                          <xsd:maxLength value="32"/>
                          <xsd:pattern value="[0-9A-F]{0,32}"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="AuditID">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="0"/>
                          <xsd:maxLength value="32"/>
                          <xsd:pattern value="[A-F0-9]{0,32}"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="CorrelationID">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="0"/>
                          <xsd:maxLength value="32"/>
                          <xsd:pattern value="[0-9A-F]{0,32}"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="ResponseEndPoint">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute use="optional" default="2" name="PollInterval" type="xsd:integer"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="Transformation">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:enumeration value="XML"/>
                          <xsd:enumeration value="HTML"/>
                          <xsd:enumeration value="text"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="GatewayTest" type="xsd:integer"/>
                    <xsd:element minOccurs="0" maxOccurs="1" name="GatewayTimestamp" type="xsd:dateTime"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="SenderDetails">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="1" name="IDAuthentication">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element minOccurs="0" maxOccurs="1" name="SenderID" type="xsd:string"/>
                          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Authentication">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element minOccurs="1" maxOccurs="1" name="Method">
                                  <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                      <xsd:enumeration value="clear"/>
                                      <xsd:enumeration value="MD5"/>
                                      <xsd:enumeration value="W3Csigned"/>
                                    </xsd:restriction>
                                  </xsd:simpleType>
                                </xsd:element>
                                <xsd:element minOccurs="0" maxOccurs="1" name="Role" type="xsd:string"/>
                                <xsd:choice minOccurs="1" maxOccurs="1">
                                  <xsd:element minOccurs="1" maxOccurs="1" name="Value" type="xsd:string"/>
                                  <xsd:element minOccurs="1" maxOccurs="1" ref="dsig:Signature"/>
                                </xsd:choice>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="X509Certificate">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:base64Binary"/>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="EmailAddress">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="3"/>
                          <xsd:maxLength value="129"/>
                          <xsd:pattern value="[A-Za-z0-9\.\-_]{1,64}@[A-Za-z0-9\.\-_]{1,64}"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="1" maxOccurs="1" name="GovTalkDetails">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="Keys">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="Key">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:token">
                            <xsd:attribute use="required" name="Type" type="hd:UnicodeNameString"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="TargetDetails">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="Organisation">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="1"/>
                          <xsd:maxLength value="64"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="GatewayValidation">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="Processed">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:enumeration value="no"/>
                          <xsd:enumeration value="yes"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="1" maxOccurs="1" name="Result">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:enumeration value="pass"/>
                          <xsd:enumeration value="fail"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="unbounded" name="ChannelRouting">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="Channel">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:choice minOccurs="1" maxOccurs="1">
                            <xsd:element minOccurs="1" maxOccurs="1" name="URI" type="xsd:anyURI"/>
                            <xsd:element minOccurs="1" maxOccurs="1" name="Name" type="xsd:string"/>
                          </xsd:choice>
                          <xsd:element minOccurs="0" maxOccurs="1" name="Product" type="xsd:string"/>
                          <xsd:element minOccurs="0" maxOccurs="1" name="Version" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="ID">
                      <xsd:complexType>
                        <xsd:simpleContent>
                          <xsd:extension base="xsd:string">
                            <xsd:attribute use="required" name="Type" type="xsd:string"/>
                          </xsd:extension>
                        </xsd:simpleContent>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="Timestamp" type="xsd:dateTime"/>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="GovTalkErrors">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="unbounded" name="Error">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element minOccurs="1" maxOccurs="1" name="RaisedBy" type="xsd:string"/>
                          <xsd:element minOccurs="0" maxOccurs="1" name="Number" type="xsd:integer"/>
                          <xsd:element minOccurs="1" maxOccurs="1" name="Type">
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="fatal"/>
                                <xsd:enumeration value="recoverable"/>
                                <xsd:enumeration value="business"/>
                                <xsd:enumeration value="warning"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Text" type="xsd:string"/>
                          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Location" type="xsd:string"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="GatewayAdditions">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:any namespace="##other" processContents="lax" minOccurs="1" maxOccurs="1"/>
                  </xsd:sequence>
                  <xsd:anyAttribute namespace="##other" processContents="lax"/>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="Body">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:anyAttribute namespace="##any" processContents="strict"/>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="UnicodeNameString">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[\p{L}\p{Nd}_\-\(\)\{\}]*"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
