lib/hmrc/validation-2013/EYU-v1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
XML Schema Rec
Generated by CoreFiling: generator revision 291056
Thu May 31 13:36:12 BST 2012

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:eyu="http://www.govtalk.gov.uk/taxation/PAYE/RTI/EarlierYearUpdate/12-13/1" targetNamespace="http://www.govtalk.gov.uk/taxation/PAYE/RTI/EarlierYearUpdate/12-13/1" version="1.0" id="EarlierYearUpdate" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:annotation>
    <xsd:appinfo>
      <gms:Metadata xmlns:gms="http://www.govtalk.gov.uk/CM/gms-xs">
        <gms:Audience>e-service developers</gms:Audience>
        <gms:Contributor>CoreFiling Ltd</gms:Contributor>
        <gms:Creator>HMRC</gms:Creator>
        <gms:Date>
          <gms:Created>2012-01-31</gms:Created>
        </gms:Date>
        <gms:Date>
          <gms:Modified>2012-05-31</gms:Modified>
        </gms:Date>
        <gms:Language>[ISO 639-2/B] ENG</gms:Language>
        <gms:Publisher>HMRC</gms:Publisher>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>IRenvelope</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>IRheader</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>EarlierYearUpdate</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>EarlierYearUpdate_CharsetB</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>EarlierYearUpdate_CharsetD</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>EarlierYearUpdate_CharsetG</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>EarlierYearUpdate_CharsetH</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>EarlierYearUpdate_ContactDetailsStructure</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>EarlierYearUpdate_DateType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>EarlierYearUpdate_EmailType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>EarlierYearUpdate_IRdecimalType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>EarlierYearUpdate_IRheaderStringType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>EarlierYearUpdate_IRmonetaryType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>EarlierYearUpdate_IRwholeUnitsMonetaryType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>EarlierYearUpdate_ISOcurrencyType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>EarlierYearUpdate_PAYENINOtype</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>EarlierYearUpdate_PayrollIdType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>EarlierYearUpdate_TelephoneStructure</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>EarlierYearUpdate_WorkHomeType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>EarlierYearUpdate_YesNoType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>EarlierYearUpdate_YesType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Rights>
          <gms:Copyright>(C) Crown Copyright 2012</gms:Copyright>
        </gms:Rights>
        <gms:Subject>
          <gms:Category>Economics, Finance and Tax</gms:Category>
        </gms:Subject>
        <gms:Title>PAYE RTI Earlier Year Update 2012-13 schema</gms:Title>
        <gms:Type>message</gms:Type>
      </gms:Metadata>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name="IRenvelope">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="1" ref="eyu:IRheader"/>
        <xsd:element minOccurs="1" maxOccurs="1" ref="eyu:EarlierYearUpdate"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="IRheader">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="Keys">
          <xsd:annotation>
            <xsd:documentation>This element contains identifiers for the sender of the message. Each identifier is contained within a &lt;Key&gt; element. Each &lt;Key&gt; element also contains a 'Type' attribute which describes the identifier type (e.g. &lt;Key Type='UTR'&gt;, &lt;Key Type='TaxOfficeNumber'&gt;, &lt;Key Type='TaxOfficeReference'&gt;).</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="Key">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="eyu:EarlierYearUpdate_IRheaderStringType">
                      <xsd:attribute use="optional" name="Type" type="eyu:EarlierYearUpdate_IRheaderStringType"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="1" maxOccurs="1" name="PeriodEnd" type="xsd:date"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="Principal">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="Contact" type="eyu:EarlierYearUpdate_ContactDetailsStructure"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="Agent">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="AgentID">
                <xsd:annotation>
                  <xsd:documentation>This identifier is for the agent's own reference and is not the same as any agent's credentials that might be used to identify the agent to the Government Gateway.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="eyu:EarlierYearUpdate_IRheaderStringType">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="35"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="Company">
                <xsd:simpleType>
                  <xsd:restriction base="eyu:EarlierYearUpdate_IRheaderStringType">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="35"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="Address">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="4" name="Line">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="1"/>
                          <xsd:maxLength value="35"/>
                          <xsd:pattern value="[A-Za-z0-9 ~!&quot;@#$%&amp;&apos;\(\)\*\+,\-\./:;&lt;=&gt;\?\[\\\]^_\{\}£€]*"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="PostCode">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="1"/>
                          <xsd:maxLength value="8"/>
                          <xsd:pattern value="[A-Za-z0-9 ~!&quot;@#$%&amp;&apos;\(\)\*\+,\-\./:;&lt;=&gt;\?\[\\\]^_\{\}£€]*"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="Country">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="1"/>
                          <xsd:maxLength value="35"/>
                          <xsd:pattern value="[A-Za-z0-9 ~!&quot;@#$%&amp;&apos;\(\)\*\+,\-\./:;&lt;=&gt;\?\[\\\]^_\{\}£€]*"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="Contact" type="eyu:EarlierYearUpdate_ContactDetailsStructure"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="DefaultCurrency">
          <xsd:simpleType>
            <xsd:restriction base="eyu:EarlierYearUpdate_ISOcurrencyType">
              <xsd:enumeration value="GBP">
                <xsd:annotation>
                  <xsd:documentation>GBP</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="Manifest">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="Contains">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="unbounded" name="Reference">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element minOccurs="1" maxOccurs="1" name="Namespace" type="xsd:anyURI"/>
                          <xsd:element minOccurs="1" maxOccurs="1" name="SchemaVersion">
                            <xsd:simpleType>
                              <xsd:restriction base="eyu:EarlierYearUpdate_IRheaderStringType">
                                <xsd:maxLength value="13"/>
                                <xsd:pattern value="[0-9]{4}\-v[0-9]{1,3}\.[0-9]{1,3}(\.[0-9]{1,3})?"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element minOccurs="1" maxOccurs="1" name="TopElementName" type="xsd:NCName"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="IRmark">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:string">
                <xsd:attribute use="required" name="Type">
                  <xsd:simpleType>
                    <xsd:restriction base="eyu:EarlierYearUpdate_IRheaderStringType">
                      <xsd:enumeration value="SAonly">
                        <xsd:annotation>
                          <xsd:documentation>SAonly</xsd:documentation>
                        </xsd:annotation>
                      </xsd:enumeration>
                      <xsd:enumeration value="generic">
                        <xsd:annotation>
                          <xsd:documentation>generic</xsd:documentation>
                        </xsd:annotation>
                      </xsd:enumeration>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="1" maxOccurs="1" name="Sender">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="Individual">
                <xsd:annotation>
                  <xsd:documentation>Individual</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Company">
                <xsd:annotation>
                  <xsd:documentation>Company</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Agent">
                <xsd:annotation>
                  <xsd:documentation>Agent</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Bureau">
                <xsd:annotation>
                  <xsd:documentation>Bureau</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Partnership">
                <xsd:annotation>
                  <xsd:documentation>Partnership</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Trust">
                <xsd:annotation>
                  <xsd:documentation>Trust</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Employer">
                <xsd:annotation>
                  <xsd:documentation>Employer</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Government">
                <xsd:annotation>
                  <xsd:documentation>Government</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Acting in Capacity">
                <xsd:annotation>
                  <xsd:documentation>Acting in Capacity</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Other">
                <xsd:annotation>
                  <xsd:documentation>Other</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="EarlierYearUpdate">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="1" name="EmpRefs">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="OfficeNo">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[0-9]{3}"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="1" name="PayeRef">
                <xsd:simpleType>
                  <xsd:restriction base="eyu:EarlierYearUpdate_CharsetG">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="10"/>
                    <xsd:pattern value="[^ ].*"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="1" name="AORef">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:length value="13"/>
                    <xsd:pattern value="[0-9]{3}P[A-Z][0-9]{7}[0-9X]"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="ECON">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="E3[0-9]{6}[ABCDEFHJKLMNPQRTWXY]"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="1" maxOccurs="1" name="RelatedTaxYear">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:pattern value="[0-9]{2}-[0-9]{2}"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:choice minOccurs="1" maxOccurs="1">
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Employee">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="EmployeeDetails">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" maxOccurs="1" name="NINO" type="eyu:EarlierYearUpdate_PAYENINOtype"/>
                      <xsd:element minOccurs="1" maxOccurs="1" name="Name">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" maxOccurs="1" name="Ttl">
                              <xsd:simpleType>
                                <xsd:restriction base="eyu:EarlierYearUpdate_CharsetH">
                                  <xsd:minLength value="1"/>
                                  <xsd:maxLength value="35"/>
                                  <xsd:pattern value="[A-Za-z].*"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="2" name="Fore">
                              <xsd:simpleType>
                                <xsd:restriction base="eyu:EarlierYearUpdate_CharsetD">
                                  <xsd:minLength value="1"/>
                                  <xsd:maxLength value="35"/>
                                  <xsd:pattern value="[A-Za-z].*"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="Initials">
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                  <xsd:minLength value="1"/>
                                  <xsd:maxLength value="5"/>
                                  <xsd:pattern value="[A-Za-z][A-Za-z ]*"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="1" maxOccurs="1" name="Sur">
                              <xsd:simpleType>
                                <xsd:restriction base="eyu:EarlierYearUpdate_CharsetD">
                                  <xsd:minLength value="1"/>
                                  <xsd:maxLength value="35"/>
                                  <xsd:pattern value="[A-Za-z].*"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" maxOccurs="1" name="Address">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" maxOccurs="4" name="Line">
                              <xsd:simpleType>
                                <xsd:restriction base="eyu:EarlierYearUpdate_CharsetG">
                                  <xsd:minLength value="1"/>
                                  <xsd:maxLength value="35"/>
                                  <xsd:pattern value="[A-Za-z0-9].*"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:choice minOccurs="0" maxOccurs="1">
                              <xsd:element minOccurs="1" maxOccurs="1" name="UKPostcode">
                                <xsd:simpleType>
                                  <xsd:restriction base="eyu:EarlierYearUpdate_CharsetB">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="10"/>
                                    <xsd:pattern value="[^ ].*"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="1" maxOccurs="1" name="ForeignCountry">
                                <xsd:simpleType>
                                  <xsd:restriction base="eyu:EarlierYearUpdate_CharsetG">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="35"/>
                                    <xsd:pattern value="[A-Za-z].*"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                            </xsd:choice>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="1" maxOccurs="1" name="BirthDate">
                        <xsd:simpleType>
                          <xsd:restriction base="eyu:EarlierYearUpdate_DateType"/>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="1" maxOccurs="1" name="Gender">
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="M">
                              <xsd:annotation>
                                <xsd:documentation>Male</xsd:documentation>
                              </xsd:annotation>
                            </xsd:enumeration>
                            <xsd:enumeration value="F">
                              <xsd:annotation>
                                <xsd:documentation>Female</xsd:documentation>
                              </xsd:annotation>
                            </xsd:enumeration>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" maxOccurs="1" name="PassportNumber">
                        <xsd:simpleType>
                          <xsd:restriction base="eyu:EarlierYearUpdate_CharsetG">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="35"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" maxOccurs="1" name="PartnerDetails">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" maxOccurs="1" name="NINO" type="eyu:EarlierYearUpdate_PAYENINOtype"/>
                            <xsd:element minOccurs="1" maxOccurs="1" name="Name">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element minOccurs="0" maxOccurs="2" name="Fore">
                                    <xsd:simpleType>
                                      <xsd:restriction base="eyu:EarlierYearUpdate_CharsetD">
                                        <xsd:minLength value="1"/>
                                        <xsd:maxLength value="35"/>
                                        <xsd:pattern value="[A-Za-z].*"/>
                                      </xsd:restriction>
                                    </xsd:simpleType>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" maxOccurs="1" name="Initials">
                                    <xsd:simpleType>
                                      <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="1"/>
                                        <xsd:maxLength value="5"/>
                                        <xsd:pattern value="[A-Za-z][A-Za-z ]*"/>
                                      </xsd:restriction>
                                    </xsd:simpleType>
                                  </xsd:element>
                                  <xsd:element minOccurs="1" maxOccurs="1" name="Sur">
                                    <xsd:simpleType>
                                      <xsd:restriction base="eyu:EarlierYearUpdate_CharsetD">
                                        <xsd:minLength value="1"/>
                                        <xsd:maxLength value="35"/>
                                        <xsd:pattern value="[A-Za-z].*"/>
                                      </xsd:restriction>
                                    </xsd:simpleType>
                                  </xsd:element>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="1" maxOccurs="15" name="Employment">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" maxOccurs="1" name="Starter">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" maxOccurs="1" name="StartDate">
                              <xsd:simpleType>
                                <xsd:restriction base="eyu:EarlierYearUpdate_DateType"/>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="StartDec">
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                  <xsd:enumeration value="A">
                                    <xsd:annotation>
                                      <xsd:documentation>This is my first job since 6th April</xsd:documentation>
                                    </xsd:annotation>
                                  </xsd:enumeration>
                                  <xsd:enumeration value="B">
                                    <xsd:annotation>
                                      <xsd:documentation>This is my only job</xsd:documentation>
                                    </xsd:annotation>
                                  </xsd:enumeration>
                                  <xsd:enumeration value="C">
                                    <xsd:annotation>
                                      <xsd:documentation>I have another job or pension</xsd:documentation>
                                    </xsd:annotation>
                                  </xsd:enumeration>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="StudentLoan" type="eyu:EarlierYearUpdate_YesType"/>
                            <xsd:element minOccurs="0" maxOccurs="1" name="Seconded">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:choice minOccurs="0" maxOccurs="1">
                                    <xsd:element minOccurs="1" maxOccurs="1" name="Stay183DaysOrMore" type="eyu:EarlierYearUpdate_YesType"/>
                                    <xsd:element minOccurs="1" maxOccurs="1" name="StayLessThan183Days" type="eyu:EarlierYearUpdate_YesType"/>
                                    <xsd:element minOccurs="1" maxOccurs="1" name="InOutUK" type="eyu:EarlierYearUpdate_YesType"/>
                                  </xsd:choice>
                                  <xsd:element minOccurs="0" maxOccurs="1" name="EEACitizen" type="eyu:EarlierYearUpdate_YesType"/>
                                  <xsd:element minOccurs="0" maxOccurs="1" name="EPM6" type="eyu:EarlierYearUpdate_YesType"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="OccPension">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element minOccurs="0" maxOccurs="1" name="Bereaved" type="eyu:EarlierYearUpdate_YesType"/>
                                  <xsd:element minOccurs="1" maxOccurs="1" name="Amount">
                                    <xsd:simpleType>
                                      <xsd:restriction base="eyu:EarlierYearUpdate_IRmonetaryType">
                                        <xsd:maxInclusive value="999999999.99"/>
                                        <xsd:minInclusive value="0.00"/>
                                      </xsd:restriction>
                                    </xsd:simpleType>
                                  </xsd:element>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" maxOccurs="1" name="PayId">
                        <xsd:simpleType>
                          <xsd:restriction base="eyu:EarlierYearUpdate_PayrollIdType">
                            <xsd:pattern value="[^ ].*"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" maxOccurs="1" name="LeavingDate">
                        <xsd:simpleType>
                          <xsd:restriction base="eyu:EarlierYearUpdate_DateType"/>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="1" maxOccurs="1" name="Payment">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="1" maxOccurs="1" name="TaxCode">
                              <xsd:complexType>
                                <xsd:simpleContent>
                                  <xsd:extension base="eyu:_intermediate_TaxCode">
                                    <xsd:attribute use="prohibited" name="SVR">
                                      <xsd:simpleType>
                                        <xsd:restriction base="eyu:EarlierYearUpdate_CharsetG">
                                          <xsd:enumeration value="S"/>
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:attribute>
                                    <xsd:attribute use="optional" name="BasisNonCumulative" type="eyu:EarlierYearUpdate_YesType"/>
                                  </xsd:extension>
                                </xsd:simpleContent>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="TaxablePay">
                              <xsd:simpleType>
                                <xsd:restriction base="eyu:EarlierYearUpdate_IRmonetaryType">
                                  <xsd:maxInclusive value="999999999.99"/>
                                  <xsd:minInclusive value="-999999999.99"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="StudentLoanRecovered">
                              <xsd:simpleType>
                                <xsd:restriction base="eyu:EarlierYearUpdate_IRwholeUnitsMonetaryType">
                                  <xsd:maxInclusive value="99999.00"/>
                                  <xsd:minInclusive value="-99999.00"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="Tax">
                              <xsd:simpleType>
                                <xsd:restriction base="eyu:EarlierYearUpdate_IRmonetaryType">
                                  <xsd:maxInclusive value="9999999999.99"/>
                                  <xsd:minInclusive value="-9999999999.99"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="SSP">
                              <xsd:simpleType>
                                <xsd:restriction base="eyu:EarlierYearUpdate_IRmonetaryType">
                                  <xsd:maxInclusive value="9999.99"/>
                                  <xsd:minInclusive value="-9999.99"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="SMP">
                              <xsd:simpleType>
                                <xsd:restriction base="eyu:EarlierYearUpdate_IRmonetaryType">
                                  <xsd:maxInclusive value="999999.99"/>
                                  <xsd:minInclusive value="-999999.99"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="OSPP">
                              <xsd:simpleType>
                                <xsd:restriction base="eyu:EarlierYearUpdate_IRmonetaryType">
                                  <xsd:maxInclusive value="999999.99"/>
                                  <xsd:minInclusive value="-999999.99"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="SAP">
                              <xsd:simpleType>
                                <xsd:restriction base="eyu:EarlierYearUpdate_IRmonetaryType">
                                  <xsd:maxInclusive value="999999.99"/>
                                  <xsd:minInclusive value="-999999.99"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="ASPP">
                              <xsd:simpleType>
                                <xsd:restriction base="eyu:EarlierYearUpdate_IRmonetaryType">
                                  <xsd:maxInclusive value="999999.99"/>
                                  <xsd:minInclusive value="-999999.99"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" maxOccurs="4" name="NIlettersAndValues">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="1" maxOccurs="1" name="NIletter">
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                  <xsd:enumeration value="A"/>
                                  <xsd:enumeration value="B"/>
                                  <xsd:enumeration value="C"/>
                                  <xsd:enumeration value="D"/>
                                  <xsd:enumeration value="E"/>
                                  <xsd:enumeration value="J"/>
                                  <xsd:enumeration value="L"/>
                                  <xsd:enumeration value="N"/>
                                  <xsd:enumeration value="O"/>
                                  <xsd:enumeration value="Q"/>
                                  <xsd:enumeration value="R"/>
                                  <xsd:enumeration value="T"/>
                                  <xsd:enumeration value="W"/>
                                  <xsd:enumeration value="X"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="1" maxOccurs="1" name="AtLEL">
                              <xsd:simpleType>
                                <xsd:restriction base="eyu:EarlierYearUpdate_IRwholeUnitsMonetaryType">
                                  <xsd:maxInclusive value="9999.00"/>
                                  <xsd:minInclusive value="-9999.00"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="1" maxOccurs="1" name="LELtoPT">
                              <xsd:simpleType>
                                <xsd:restriction base="eyu:EarlierYearUpdate_IRmonetaryType">
                                  <xsd:maxInclusive value="9999.99"/>
                                  <xsd:minInclusive value="-9999.99"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="1" maxOccurs="1" name="PTtoUAP">
                              <xsd:simpleType>
                                <xsd:restriction base="eyu:EarlierYearUpdate_IRmonetaryType">
                                  <xsd:maxInclusive value="99999.99"/>
                                  <xsd:minInclusive value="-99999.99"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="1" maxOccurs="1" name="UAPtoUEL">
                              <xsd:simpleType>
                                <xsd:restriction base="eyu:EarlierYearUpdate_IRmonetaryType">
                                  <xsd:maxInclusive value="99999.99"/>
                                  <xsd:minInclusive value="-99999.99"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="1" maxOccurs="1" name="TotalEmpNIC">
                              <xsd:simpleType>
                                <xsd:restriction base="eyu:EarlierYearUpdate_IRmonetaryType">
                                  <xsd:maxInclusive value="999999999.99"/>
                                  <xsd:minInclusive value="-999999999.99"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="1" maxOccurs="1" name="EmpeeContribns">
                              <xsd:simpleType>
                                <xsd:restriction base="eyu:EarlierYearUpdate_IRmonetaryType">
                                  <xsd:maxInclusive value="999999999.99"/>
                                  <xsd:minInclusive value="-999999999.99"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="NICRefund" type="eyu:EarlierYearUpdate_YesNoType"/>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="CompressedPart">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="eyu:_intermediate_CompressedPart">
                  <xsd:attribute use="optional" default="gzip" name="Type">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="zip">
                          <xsd:annotation>
                            <xsd:documentation>zip encoding</xsd:documentation>
                          </xsd:annotation>
                        </xsd:enumeration>
                        <xsd:enumeration value="gzip">
                          <xsd:annotation>
                            <xsd:documentation>gzip encoding</xsd:documentation>
                          </xsd:annotation>
                        </xsd:enumeration>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:choice>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="EarlierYearUpdate_CharsetB">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Za-z0-9 ]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EarlierYearUpdate_CharsetD">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Za-z \-&apos;]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EarlierYearUpdate_CharsetG">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Za-z0-9 \.,\-\(\)/=!&quot;%&amp;\*;&lt;&gt;&apos;\+:\?]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EarlierYearUpdate_CharsetH">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Za-z\- \.&apos;]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="EarlierYearUpdate_ContactDetailsStructure">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="Name">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Ttl">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="4"/>
                  <xsd:pattern value="[A-Za-z][A-Za-z&apos;\-]*"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="1" maxOccurs="2" name="Fore">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="35"/>
                  <xsd:pattern value="[A-Za-z][A-Za-z&apos;\-]*"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="1" maxOccurs="1" name="Sur">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="35"/>
                  <xsd:pattern value="[A-Za-z0-9 ,\.\(\)/&amp;\-&apos;]+"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Email">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="eyu:EarlierYearUpdate_EmailType">
              <xsd:attribute use="optional" name="Type" type="eyu:EarlierYearUpdate_WorkHomeType"/>
              <xsd:attribute use="optional" name="Preferred" type="eyu:EarlierYearUpdate_YesNoType"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Telephone" type="eyu:EarlierYearUpdate_TelephoneStructure"/>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Fax" type="eyu:EarlierYearUpdate_TelephoneStructure"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="EarlierYearUpdate_DateType">
    <xsd:annotation>
      <xsd:documentation>The date is in the Common Era (minus sign in years is not permitted)</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date">
      <xsd:pattern value="\d{4}-\d{2}-\d{2}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EarlierYearUpdate_EmailType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="3"/>
      <xsd:maxLength value="254"/>
      <xsd:pattern value="[^@&apos;&lt;&gt;&quot;]+@[^@&apos;&lt;&gt;&quot;]+"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EarlierYearUpdate_IRdecimalType">
    <xsd:restriction base="xsd:decimal">
      <xsd:pattern value="-?(([1-9][0-9]*)|0)\.[0-9]{2}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EarlierYearUpdate_IRheaderStringType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Za-z0-9 &amp;&apos;\(\)\*,\-\./]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EarlierYearUpdate_IRmonetaryType">
    <xsd:restriction base="eyu:EarlierYearUpdate_IRdecimalType"/>
  </xsd:simpleType>
  <xsd:simpleType name="EarlierYearUpdate_IRwholeUnitsMonetaryType">
    <xsd:restriction base="eyu:EarlierYearUpdate_IRdecimalType">
      <xsd:pattern value=".*\.00"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EarlierYearUpdate_ISOcurrencyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="EUR">
        <xsd:annotation>
          <xsd:documentation>Euro</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="GBP">
        <xsd:annotation>
          <xsd:documentation>Sterling</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EarlierYearUpdate_PAYENINOtype">
    <xsd:restriction base="xsd:string">
      <xsd:length value="9"/>
      <xsd:pattern value="(AA|AB|AE|AH|AK|AL|AM|AP|AR|AS|AT|AW|AX|AY|AZ|BA|BB|BE|BH|BK|BL|BM|BT|CA|CB|CE|CH|CK|CL|CR|EA|EB|EE|EH|EK|EL|EM|EP|ER|ES|ET|EW|EX|EY|EZ|GY|HA|HB|HE|HH|HK|HL|HM|HP|HR|HS|HT|HW|HX|HY|HZ|JA|JB|JC|JE|JG|JH|JJ|JK|JL|JM|JN|JP|JR|JS|JT|JW|JX|JY|JZ|KA|KB|KE|KH|KK|KL|KM|KP|KR|KS|KT|KW|KX|KY|KZ|LA|LB|LE|LH|LK|LL|LM|LP|LR|LS|LT|LW|LX|LY|LZ|MA|MW|MX|NA|NB|NE|NH|NL|NM|NP|NR|NS|NW|NX|NY|NZ|OA|OB|OE|OH|OK|OL|OM|OP|OR|OS|OX|PA|PB|PC|PE|PG|PH|PJ|PK|PL|PM|PN|PP|PR|PS|PT|PW|PX|PY|RA|RB|RE|RH|RK|RM|RP|RR|RS|RT|RW|RX|RY|RZ|SA|SB|SC|SE|SG|SH|SJ|SK|SL|SM|SN|SP|SR|SS|ST|SW|SX|SY|SZ|TA|TB|TE|TH|TK|TL|TM|TP|TR|TS|TT|TW|TX|TY|TZ|WA|WB|WE|WK|WL|WM|WP|YA|YB|YE|YH|YK|YL|YM|YP|YR|YS|YT|YW|YX|YY|YZ|ZA|ZB|ZE|ZH|ZK|ZL|ZM|ZP|ZR|ZS|ZT|ZW|ZX|ZY)[0-9]{6}[A-D ]"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EarlierYearUpdate_PayrollIdType">
    <xsd:restriction base="eyu:EarlierYearUpdate_CharsetG">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="35"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="EarlierYearUpdate_TelephoneStructure">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="Number">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="35"/>
            <xsd:pattern value="[0-9\(\)\-\s]{1,35}"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="Extension">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="6"/>
            <xsd:pattern value="[0-9]{1,6}"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute use="optional" name="Type" type="eyu:EarlierYearUpdate_WorkHomeType"/>
    <xsd:attribute use="optional" name="Mobile" type="eyu:EarlierYearUpdate_YesNoType"/>
    <xsd:attribute use="optional" name="Preferred" type="eyu:EarlierYearUpdate_YesNoType"/>
  </xsd:complexType>
  <xsd:simpleType name="EarlierYearUpdate_WorkHomeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="home"/>
      <xsd:enumeration value="work"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EarlierYearUpdate_YesNoType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="no"/>
      <xsd:enumeration value="yes"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EarlierYearUpdate_YesType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="yes"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!--
  **************************************************************
                    Auto-Generated Types
  **************************************************************

  Declaration of automatically generated named simpleTypes.
  These are necessary when XSDL does not allow inline
  declaration of simpleTypes under certain conditions.

  -->
  <xsd:simpleType name="_intermediate_TaxCode">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="2"/>
      <xsd:maxLength value="7"/>
      <xsd:pattern value="([1-9][0-9]{0,5}[LPTY])|(BR)|(0T)|(NT)|(FT)|(D[01])|([K][1-9][0-9]{0,5})"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="_intermediate_CompressedPart">
    <xsd:restriction base="xsd:base64Binary">
      <xsd:minLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
