lib/hmrc-rti/validation-2013/EPS-2014-v2-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
XML Schema Rec
Generated by CoreFiling: generator revision 291056
Thu May 31 13:37:33 BST 2012

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:eps="http://www.govtalk.gov.uk/taxation/PAYE/RTI/EmployerPaymentSummary/13-14/2" targetNamespace="http://www.govtalk.gov.uk/taxation/PAYE/RTI/EmployerPaymentSummary/13-14/2" version="2.0" id="EmployerPaymentSummary" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:annotation>
    <xsd:appinfo>
      <gms:Metadata xmlns:gms="http://www.govtalk.gov.uk/CM/gms-xs">
        <gms:Audience>e-service developers</gms:Audience>
        <gms:Contributor>CoreFiling Ltd</gms:Contributor>
        <gms:Creator>HMRC</gms:Creator>
        <gms:Date>
          <gms:Created>2011-03-18</gms:Created>
        </gms:Date>
        <gms:Date>
          <gms:Modified>2012-05-31</gms:Modified>
        </gms:Date>
        <gms:Language>[ISO 639-2/B] ENG</gms:Language>
        <gms:Publisher>HMRC</gms:Publisher>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>IRenvelope</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>IRheader</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>EmployerPaymentSummary</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>EmployerPaymentSummary_CharsetG</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>EmployerPaymentSummary_ContactDetailsStructure</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>EmployerPaymentSummary_DateType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>EmployerPaymentSummary_EmailType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>EmployerPaymentSummary_IRheaderStringType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>EmployerPaymentSummary_IRmonetaryType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>EmployerPaymentSummary_ISOcurrencyType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>EmployerPaymentSummary_TelephoneStructure</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>EmployerPaymentSummary_WorkHomeType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>EmployerPaymentSummary_YesNoType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>EmployerPaymentSummary_YesType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Rights>
          <gms:Copyright>(C) Crown Copyright 2011-12</gms:Copyright>
        </gms:Rights>
        <gms:Subject>
          <gms:Category>Economics, Finance and Tax</gms:Category>
        </gms:Subject>
        <gms:Title>PAYE RTI Employer Payment Summary 2013-14 schema</gms:Title>
        <gms:Type>message</gms:Type>
      </gms:Metadata>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name="IRenvelope">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="1" ref="eps:IRheader"/>
        <xsd:element minOccurs="1" maxOccurs="1" ref="eps:EmployerPaymentSummary"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="IRheader">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="Keys">
          <xsd:annotation>
            <xsd:documentation>This element contains identifiers for the sender of the message. Each identifier is contained within a &lt;Key&gt; element. Each &lt;Key&gt; element also contains a 'Type' attribute which describes the identifier type (e.g. &lt;Key Type='UTR'&gt;, &lt;Key Type='TaxOfficeNumber'&gt;, &lt;Key Type='TaxOfficeReference'&gt;).</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="Key">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="eps:EmployerPaymentSummary_IRheaderStringType">
                      <xsd:attribute use="optional" name="Type" type="eps:EmployerPaymentSummary_IRheaderStringType"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="1" maxOccurs="1" name="PeriodEnd" type="xsd:date"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="Principal">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="Contact" type="eps:EmployerPaymentSummary_ContactDetailsStructure"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="Agent">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="AgentID">
                <xsd:annotation>
                  <xsd:documentation>This identifier is for the agent's own reference and is not the same as any agent's credentials that might be used to identify the agent to the Government Gateway.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="eps:EmployerPaymentSummary_IRheaderStringType">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="35"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="Company">
                <xsd:simpleType>
                  <xsd:restriction base="eps:EmployerPaymentSummary_IRheaderStringType">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="35"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="Address">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="4" name="Line">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="1"/>
                          <xsd:maxLength value="35"/>
                          <xsd:pattern value="[A-Za-z0-9 ~!&quot;@#$%&amp;&apos;\(\)\*\+,\-\./:;&lt;=&gt;\?\[\\\]^_\{\}£€]*"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="PostCode">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="1"/>
                          <xsd:maxLength value="8"/>
                          <xsd:pattern value="[A-Za-z0-9 ~!&quot;@#$%&amp;&apos;\(\)\*\+,\-\./:;&lt;=&gt;\?\[\\\]^_\{\}£€]*"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="Country">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="1"/>
                          <xsd:maxLength value="35"/>
                          <xsd:pattern value="[A-Za-z0-9 ~!&quot;@#$%&amp;&apos;\(\)\*\+,\-\./:;&lt;=&gt;\?\[\\\]^_\{\}£€]*"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="Contact" type="eps:EmployerPaymentSummary_ContactDetailsStructure"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="DefaultCurrency">
          <xsd:simpleType>
            <xsd:restriction base="eps:EmployerPaymentSummary_ISOcurrencyType">
              <xsd:enumeration value="GBP">
                <xsd:annotation>
                  <xsd:documentation>GBP</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="Manifest">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="Contains">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="unbounded" name="Reference">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element minOccurs="1" maxOccurs="1" name="Namespace" type="xsd:anyURI"/>
                          <xsd:element minOccurs="1" maxOccurs="1" name="SchemaVersion">
                            <xsd:simpleType>
                              <xsd:restriction base="eps:EmployerPaymentSummary_IRheaderStringType">
                                <xsd:maxLength value="13"/>
                                <xsd:pattern value="[0-9]{4}\-v[0-9]{1,3}\.[0-9]{1,3}(\.[0-9]{1,3})?"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element minOccurs="1" maxOccurs="1" name="TopElementName" type="xsd:NCName"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="IRmark">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:string">
                <xsd:attribute use="required" name="Type">
                  <xsd:simpleType>
                    <xsd:restriction base="eps:EmployerPaymentSummary_IRheaderStringType">
                      <xsd:enumeration value="SAonly">
                        <xsd:annotation>
                          <xsd:documentation>SAonly</xsd:documentation>
                        </xsd:annotation>
                      </xsd:enumeration>
                      <xsd:enumeration value="generic">
                        <xsd:annotation>
                          <xsd:documentation>generic</xsd:documentation>
                        </xsd:annotation>
                      </xsd:enumeration>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="1" maxOccurs="1" name="Sender">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="Individual">
                <xsd:annotation>
                  <xsd:documentation>Individual</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Company">
                <xsd:annotation>
                  <xsd:documentation>Company</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Agent">
                <xsd:annotation>
                  <xsd:documentation>Agent</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Bureau">
                <xsd:annotation>
                  <xsd:documentation>Bureau</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Partnership">
                <xsd:annotation>
                  <xsd:documentation>Partnership</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Trust">
                <xsd:annotation>
                  <xsd:documentation>Trust</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Employer">
                <xsd:annotation>
                  <xsd:documentation>Employer</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Government">
                <xsd:annotation>
                  <xsd:documentation>Government</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Acting in Capacity">
                <xsd:annotation>
                  <xsd:documentation>Acting in Capacity</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Other">
                <xsd:annotation>
                  <xsd:documentation>Other</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="EmployerPaymentSummary">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="1" name="EmpRefs">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="OfficeNo">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[0-9]{3}"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="1" name="PayeRef">
                <xsd:simpleType>
                  <xsd:restriction base="eps:EmployerPaymentSummary_CharsetG">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="10"/>
                    <xsd:pattern value="[^ ].*"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="1" name="AORef">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:length value="13"/>
                    <xsd:pattern value="[0-9]{3}P[A-Z][0-9]{7}[0-9X]"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:sequence minOccurs="0" maxOccurs="1">
          <xsd:element minOccurs="1" maxOccurs="1" name="NoPaymentForPeriod" type="eps:EmployerPaymentSummary_YesType"/>
          <xsd:element minOccurs="1" maxOccurs="1" name="NoPaymentDates">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="From">
                  <xsd:simpleType>
                    <xsd:restriction base="eps:EmployerPaymentSummary_DateType">
                      <xsd:pattern value="\d{4}-\d{2}-06"/>
                      <xsd:minInclusive value="2013-04-06"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
                <xsd:element minOccurs="1" maxOccurs="1" name="To">
                  <xsd:simpleType>
                    <xsd:restriction base="eps:EmployerPaymentSummary_DateType">
                      <xsd:pattern value="\d{4}-\d{2}-05"/>
                      <xsd:maxInclusive value="2014-04-05"/>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="PeriodOfInactivity">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="From">
                <xsd:simpleType>
                  <xsd:restriction base="eps:EmployerPaymentSummary_DateType">
                    <xsd:pattern value="\d{4}-\d{2}-06"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="1" name="To">
                <xsd:simpleType>
                  <xsd:restriction base="eps:EmployerPaymentSummary_DateType">
                    <xsd:pattern value="\d{4}-\d{2}-05"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="RecoverableAmountsYTD">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="SSPRecovered">
                <xsd:simpleType>
                  <xsd:restriction base="eps:EmployerPaymentSummary_IRmonetaryType">
                    <xsd:maxInclusive value="99999999.99"/>
                    <xsd:minInclusive value="0.00"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="SMPRecovered">
                <xsd:simpleType>
                  <xsd:restriction base="eps:EmployerPaymentSummary_IRmonetaryType">
                    <xsd:maxInclusive value="99999999.99"/>
                    <xsd:minInclusive value="0.00"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="OSPPRecovered">
                <xsd:simpleType>
                  <xsd:restriction base="eps:EmployerPaymentSummary_IRmonetaryType">
                    <xsd:maxInclusive value="99999999.99"/>
                    <xsd:minInclusive value="0.00"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="SAPRecovered">
                <xsd:simpleType>
                  <xsd:restriction base="eps:EmployerPaymentSummary_IRmonetaryType">
                    <xsd:maxInclusive value="99999999.99"/>
                    <xsd:minInclusive value="0.00"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="ASPPRecovered">
                <xsd:simpleType>
                  <xsd:restriction base="eps:EmployerPaymentSummary_IRmonetaryType">
                    <xsd:maxInclusive value="99999999.99"/>
                    <xsd:minInclusive value="0.00"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="NICCompensationOnSMP">
                <xsd:simpleType>
                  <xsd:restriction base="eps:EmployerPaymentSummary_IRmonetaryType">
                    <xsd:maxInclusive value="99999999.99"/>
                    <xsd:minInclusive value="0.00"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="NICCompensationOnOSPP">
                <xsd:simpleType>
                  <xsd:restriction base="eps:EmployerPaymentSummary_IRmonetaryType">
                    <xsd:maxInclusive value="99999999.99"/>
                    <xsd:minInclusive value="0.00"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="NICCompensationOnSAP">
                <xsd:simpleType>
                  <xsd:restriction base="eps:EmployerPaymentSummary_IRmonetaryType">
                    <xsd:maxInclusive value="99999999.99"/>
                    <xsd:minInclusive value="0.00"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="NICCompensationOnASPP">
                <xsd:simpleType>
                  <xsd:restriction base="eps:EmployerPaymentSummary_IRmonetaryType">
                    <xsd:maxInclusive value="99999999.99"/>
                    <xsd:minInclusive value="0.00"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="CISDeductionsSuffered">
                <xsd:simpleType>
                  <xsd:restriction base="eps:EmployerPaymentSummary_IRmonetaryType">
                    <xsd:maxInclusive value="9999999999.99"/>
                    <xsd:minInclusive value="0.00"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="NICsHoliday">
                <xsd:simpleType>
                  <xsd:restriction base="eps:EmployerPaymentSummary_IRmonetaryType">
                    <xsd:maxInclusive value="999999999.99"/>
                    <xsd:minInclusive value="0.00"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="1" maxOccurs="1" name="RelatedTaxYear">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:pattern value="[0-9]{2}-[0-9]{2}"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="FinalSubmission">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="BecauseSchemeCeased" type="eps:EmployerPaymentSummary_YesType"/>
              <xsd:element minOccurs="0" maxOccurs="1" name="DateSchemeCeased">
                <xsd:simpleType>
                  <xsd:restriction base="eps:EmployerPaymentSummary_DateType">
                    <xsd:maxInclusive value="2014-04-05"/>
                    <xsd:minInclusive value="2013-04-06"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="ForYear" type="eps:EmployerPaymentSummary_YesType"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="QuestionsAndDeclarations">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="FreeOfTaxPaymentsMadeToEmployee" type="eps:EmployerPaymentSummary_YesNoType"/>
              <xsd:element minOccurs="1" maxOccurs="1" name="ExpensesVouchersOrBenefitsFromOthers" type="eps:EmployerPaymentSummary_YesNoType"/>
              <xsd:element minOccurs="1" maxOccurs="1" name="PersonEmployedOutsideUKWorkedFor30DaysOrMore" type="eps:EmployerPaymentSummary_YesNoType"/>
              <xsd:element minOccurs="1" maxOccurs="1" name="PayToSomeoneElse" type="eps:EmployerPaymentSummary_YesNoType"/>
              <xsd:element minOccurs="1" maxOccurs="1" name="P11DFormsDue" type="eps:EmployerPaymentSummary_YesNoType"/>
              <xsd:element minOccurs="1" maxOccurs="1" name="ServiceCompany" type="eps:EmployerPaymentSummary_YesNoType"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="EmployerPaymentSummary_CharsetG">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Za-z0-9 \.,\-\(\)/=!&quot;%&amp;\*;&lt;&gt;&apos;\+:\?]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="EmployerPaymentSummary_ContactDetailsStructure">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="Name">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Ttl">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="4"/>
                  <xsd:pattern value="[A-Za-z][A-Za-z&apos;\-]*"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="1" maxOccurs="2" name="Fore">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="35"/>
                  <xsd:pattern value="[A-Za-z][A-Za-z&apos;\-]*"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="1" maxOccurs="1" name="Sur">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="35"/>
                  <xsd:pattern value="[A-Za-z0-9 ,\.\(\)/&amp;\-&apos;]+"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Email">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="eps:EmployerPaymentSummary_EmailType">
              <xsd:attribute use="optional" name="Type" type="eps:EmployerPaymentSummary_WorkHomeType"/>
              <xsd:attribute use="optional" name="Preferred" type="eps:EmployerPaymentSummary_YesNoType"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Telephone" type="eps:EmployerPaymentSummary_TelephoneStructure"/>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Fax" type="eps:EmployerPaymentSummary_TelephoneStructure"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="EmployerPaymentSummary_DateType">
    <xsd:annotation>
      <xsd:documentation>The date is in the Common Era (minus sign in years is not permitted)</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date">
      <xsd:pattern value="\d{4}-\d{2}-\d{2}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EmployerPaymentSummary_EmailType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="3"/>
      <xsd:maxLength value="254"/>
      <xsd:pattern value="[^@&apos;&lt;&gt;&quot;]+@[^@&apos;&lt;&gt;&quot;]+"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EmployerPaymentSummary_IRheaderStringType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Za-z0-9 &amp;&apos;\(\)\*,\-\./]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EmployerPaymentSummary_IRmonetaryType">
    <xsd:restriction base="xsd:decimal">
      <xsd:pattern value="-?(([1-9][0-9]*)|0)\.[0-9]{2}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EmployerPaymentSummary_ISOcurrencyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="EUR">
        <xsd:annotation>
          <xsd:documentation>Euro</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="GBP">
        <xsd:annotation>
          <xsd:documentation>Sterling</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="EmployerPaymentSummary_TelephoneStructure">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="Number">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="35"/>
            <xsd:pattern value="[0-9\(\)\-\s]{1,35}"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="Extension">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="6"/>
            <xsd:pattern value="[0-9]{1,6}"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute use="optional" name="Type" type="eps:EmployerPaymentSummary_WorkHomeType"/>
    <xsd:attribute use="optional" name="Mobile" type="eps:EmployerPaymentSummary_YesNoType"/>
    <xsd:attribute use="optional" name="Preferred" type="eps:EmployerPaymentSummary_YesNoType"/>
  </xsd:complexType>
  <xsd:simpleType name="EmployerPaymentSummary_WorkHomeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="home"/>
      <xsd:enumeration value="work"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EmployerPaymentSummary_YesNoType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="no"/>
      <xsd:enumeration value="yes"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EmployerPaymentSummary_YesType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="yes"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
