artefacts/2013-14/FPS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
XML Schema Rec
Generated by CoreFiling: generator revision 291056
Thu May 31 13:37:33 BST 2012

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:fps="http://www.govtalk.gov.uk/taxation/PAYE/RTI/FullPaymentSubmission/13-14/2" targetNamespace="http://www.govtalk.gov.uk/taxation/PAYE/RTI/FullPaymentSubmission/13-14/2" version="2.0" id="FullPaymentSubmission" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:annotation>
    <xsd:appinfo>
      <gms:Metadata xmlns:gms="http://www.govtalk.gov.uk/CM/gms-xs">
        <gms:Audience>e-service developers</gms:Audience>
        <gms:Contributor>CoreFiling Ltd</gms:Contributor>
        <gms:Creator>HMRC</gms:Creator>
        <gms:Date>
          <gms:Created>2011-03-18</gms:Created>
        </gms:Date>
        <gms:Date>
          <gms:Modified>2012-05-31</gms:Modified>
        </gms:Date>
        <gms:Language>[ISO 639-2/B] ENG</gms:Language>
        <gms:Publisher>HMRC</gms:Publisher>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>IRenvelope</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>IRheader</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>FullPaymentSubmission</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>FullPaymentSubmission_CharsetB</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>FullPaymentSubmission_CharsetD</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>FullPaymentSubmission_CharsetG</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>FullPaymentSubmission_CharsetH</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>FullPaymentSubmission_ContactDetailsStructure</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>FullPaymentSubmission_DateType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>FullPaymentSubmission_EmailType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>FullPaymentSubmission_IRdecimalType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>FullPaymentSubmission_IRheaderStringType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>FullPaymentSubmission_IRmonetaryType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>FullPaymentSubmission_IRnonNegativeMonetaryType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>FullPaymentSubmission_IRwholeUnitsMonetaryType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>FullPaymentSubmission_ISOcurrencyType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>FullPaymentSubmission_PAYENINOtype</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>FullPaymentSubmission_PayrollIdType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>FullPaymentSubmission_TelephoneStructure</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>FullPaymentSubmission_UTRtype</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>FullPaymentSubmission_WorkHomeType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>FullPaymentSubmission_YesNoType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Relation>
          <gms:ProvidesDefinitionOf>FullPaymentSubmission_YesType</gms:ProvidesDefinitionOf>
        </gms:Relation>
        <gms:Rights>
          <gms:Copyright>(C) Crown Copyright 2011-12</gms:Copyright>
        </gms:Rights>
        <gms:Subject>
          <gms:Category>Economics, Finance and Tax</gms:Category>
        </gms:Subject>
        <gms:Title>PAYE RTI Full Payment Submission 2013-14 schema</gms:Title>
        <gms:Type>message</gms:Type>
      </gms:Metadata>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name="IRenvelope">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="1" ref="fps:IRheader"/>
        <xsd:element minOccurs="1" maxOccurs="1" ref="fps:FullPaymentSubmission"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="IRheader">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="Keys">
          <xsd:annotation>
            <xsd:documentation>This element contains identifiers for the sender of the message. Each identifier is contained within a &lt;Key&gt; element. Each &lt;Key&gt; element also contains a 'Type' attribute which describes the identifier type (e.g. &lt;Key Type='UTR'&gt;, &lt;Key Type='TaxOfficeNumber'&gt;, &lt;Key Type='TaxOfficeReference'&gt;).</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="unbounded" name="Key">
                <xsd:complexType>
                  <xsd:simpleContent>
                    <xsd:extension base="fps:FullPaymentSubmission_IRheaderStringType">
                      <xsd:attribute use="optional" name="Type" type="fps:FullPaymentSubmission_IRheaderStringType"/>
                    </xsd:extension>
                  </xsd:simpleContent>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="1" maxOccurs="1" name="PeriodEnd" type="xsd:date"/>
        <xsd:element minOccurs="0" maxOccurs="1" name="Principal">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="Contact" type="fps:FullPaymentSubmission_ContactDetailsStructure"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="Agent">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="AgentID">
                <xsd:annotation>
                  <xsd:documentation>This identifier is for the agent's own reference and is not the same as any agent's credentials that might be used to identify the agent to the Government Gateway.</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="fps:FullPaymentSubmission_IRheaderStringType">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="35"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="Company">
                <xsd:simpleType>
                  <xsd:restriction base="fps:FullPaymentSubmission_IRheaderStringType">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="35"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="Address">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="4" name="Line">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="1"/>
                          <xsd:maxLength value="35"/>
                          <xsd:pattern value="[A-Za-z0-9 ~!&quot;@#$%&amp;&apos;\(\)\*\+,\-\./:;&lt;=&gt;\?\[\\\]^_\{\}£€]*"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="PostCode">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="1"/>
                          <xsd:maxLength value="8"/>
                          <xsd:pattern value="[A-Za-z0-9 ~!&quot;@#$%&amp;&apos;\(\)\*\+,\-\./:;&lt;=&gt;\?\[\\\]^_\{\}£€]*"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" maxOccurs="1" name="Country">
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:minLength value="1"/>
                          <xsd:maxLength value="35"/>
                          <xsd:pattern value="[A-Za-z0-9 ~!&quot;@#$%&amp;&apos;\(\)\*\+,\-\./:;&lt;=&gt;\?\[\\\]^_\{\}£€]*"/>
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="Contact" type="fps:FullPaymentSubmission_ContactDetailsStructure"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="DefaultCurrency">
          <xsd:simpleType>
            <xsd:restriction base="fps:FullPaymentSubmission_ISOcurrencyType">
              <xsd:enumeration value="GBP">
                <xsd:annotation>
                  <xsd:documentation>GBP</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="Manifest">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="Contains">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="unbounded" name="Reference">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element minOccurs="1" maxOccurs="1" name="Namespace" type="xsd:anyURI"/>
                          <xsd:element minOccurs="1" maxOccurs="1" name="SchemaVersion">
                            <xsd:simpleType>
                              <xsd:restriction base="fps:FullPaymentSubmission_IRheaderStringType">
                                <xsd:maxLength value="13"/>
                                <xsd:pattern value="[0-9]{4}\-v[0-9]{1,3}\.[0-9]{1,3}(\.[0-9]{1,3})?"/>
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element minOccurs="1" maxOccurs="1" name="TopElementName" type="xsd:NCName"/>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="IRmark">
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:string">
                <xsd:attribute use="required" name="Type">
                  <xsd:simpleType>
                    <xsd:restriction base="fps:FullPaymentSubmission_IRheaderStringType">
                      <xsd:enumeration value="SAonly">
                        <xsd:annotation>
                          <xsd:documentation>SAonly</xsd:documentation>
                        </xsd:annotation>
                      </xsd:enumeration>
                      <xsd:enumeration value="generic">
                        <xsd:annotation>
                          <xsd:documentation>generic</xsd:documentation>
                        </xsd:annotation>
                      </xsd:enumeration>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="1" maxOccurs="1" name="Sender">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="Individual">
                <xsd:annotation>
                  <xsd:documentation>Individual</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Company">
                <xsd:annotation>
                  <xsd:documentation>Company</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Agent">
                <xsd:annotation>
                  <xsd:documentation>Agent</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Bureau">
                <xsd:annotation>
                  <xsd:documentation>Bureau</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Partnership">
                <xsd:annotation>
                  <xsd:documentation>Partnership</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Trust">
                <xsd:annotation>
                  <xsd:documentation>Trust</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Employer">
                <xsd:annotation>
                  <xsd:documentation>Employer</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Government">
                <xsd:annotation>
                  <xsd:documentation>Government</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Acting in Capacity">
                <xsd:annotation>
                  <xsd:documentation>Acting in Capacity</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
              <xsd:enumeration value="Other">
                <xsd:annotation>
                  <xsd:documentation>Other</xsd:documentation>
                </xsd:annotation>
              </xsd:enumeration>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="FullPaymentSubmission">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="1" maxOccurs="1" name="EmpRefs">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="OfficeNo">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="[0-9]{3}"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="1" name="PayeRef">
                <xsd:simpleType>
                  <xsd:restriction base="fps:FullPaymentSubmission_CharsetG">
                    <xsd:minLength value="1"/>
                    <xsd:maxLength value="10"/>
                    <xsd:pattern value="[^ ].*"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="1" maxOccurs="1" name="AORef">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:length value="13"/>
                    <xsd:pattern value="[0-9]{3}P[A-Z][0-9]{7}[0-9X]"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="ECON">
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="E3[0-9]{6}[ABCDEFHJKLMNPQRTWXY]"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:choice minOccurs="0" maxOccurs="1">
                <xsd:element minOccurs="1" maxOccurs="1" name="SAUTR" type="fps:FullPaymentSubmission_UTRtype"/>
                <xsd:element minOccurs="1" maxOccurs="1" name="COTAXRef" type="fps:FullPaymentSubmission_UTRtype"/>
              </xsd:choice>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="1" maxOccurs="1" name="RelatedTaxYear">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:pattern value="[0-9]{2}-[0-9]{2}"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:choice minOccurs="0" maxOccurs="1">
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Employee">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element minOccurs="1" maxOccurs="1" name="EmployeeDetails">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" maxOccurs="1" name="NINO" type="fps:FullPaymentSubmission_PAYENINOtype"/>
                      <xsd:element minOccurs="1" maxOccurs="1" name="Name">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" maxOccurs="1" name="Ttl">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_CharsetH">
                                  <xsd:minLength value="1"/>
                                  <xsd:maxLength value="35"/>
                                  <xsd:pattern value="[A-Za-z].*"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="2" name="Fore">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_CharsetD">
                                  <xsd:minLength value="1"/>
                                  <xsd:maxLength value="35"/>
                                  <xsd:pattern value="[A-Za-z].*"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="Initials">
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                  <xsd:minLength value="1"/>
                                  <xsd:maxLength value="5"/>
                                  <xsd:pattern value="[A-Za-z][A-Za-z ]*"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="1" maxOccurs="1" name="Sur">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_CharsetD">
                                  <xsd:minLength value="1"/>
                                  <xsd:maxLength value="35"/>
                                  <xsd:pattern value="[A-Za-z].*"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" maxOccurs="1" name="Address">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" maxOccurs="4" name="Line">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_CharsetG">
                                  <xsd:minLength value="1"/>
                                  <xsd:maxLength value="35"/>
                                  <xsd:pattern value="[A-Za-z0-9].*"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:choice minOccurs="0" maxOccurs="1">
                              <xsd:element minOccurs="1" maxOccurs="1" name="UKPostcode">
                                <xsd:simpleType>
                                  <xsd:restriction base="fps:FullPaymentSubmission_CharsetB">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="10"/>
                                    <xsd:pattern value="[^ ].*"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="1" maxOccurs="1" name="ForeignCountry">
                                <xsd:simpleType>
                                  <xsd:restriction base="fps:FullPaymentSubmission_CharsetG">
                                    <xsd:minLength value="1"/>
                                    <xsd:maxLength value="35"/>
                                    <xsd:pattern value="[A-Za-z].*"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                            </xsd:choice>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" maxOccurs="1" name="BirthDate">
                        <xsd:simpleType>
                          <xsd:restriction base="fps:FullPaymentSubmission_DateType"/>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="1" maxOccurs="1" name="Gender">
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="M">
                              <xsd:annotation>
                                <xsd:documentation>Male</xsd:documentation>
                              </xsd:annotation>
                            </xsd:enumeration>
                            <xsd:enumeration value="F">
                              <xsd:annotation>
                                <xsd:documentation>Female</xsd:documentation>
                              </xsd:annotation>
                            </xsd:enumeration>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" maxOccurs="1" name="PassportNumber">
                        <xsd:simpleType>
                          <xsd:restriction base="fps:FullPaymentSubmission_CharsetG">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="35"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" maxOccurs="1" name="PartnerDetails">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" maxOccurs="1" name="NINO" type="fps:FullPaymentSubmission_PAYENINOtype"/>
                            <xsd:element minOccurs="1" maxOccurs="1" name="Name">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element minOccurs="0" maxOccurs="2" name="Fore">
                                    <xsd:simpleType>
                                      <xsd:restriction base="fps:FullPaymentSubmission_CharsetD">
                                        <xsd:minLength value="1"/>
                                        <xsd:maxLength value="35"/>
                                        <xsd:pattern value="[A-Za-z].*"/>
                                      </xsd:restriction>
                                    </xsd:simpleType>
                                  </xsd:element>
                                  <xsd:element minOccurs="0" maxOccurs="1" name="Initials">
                                    <xsd:simpleType>
                                      <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="1"/>
                                        <xsd:maxLength value="5"/>
                                        <xsd:pattern value="[A-Za-z][A-Za-z ]*"/>
                                      </xsd:restriction>
                                    </xsd:simpleType>
                                  </xsd:element>
                                  <xsd:element minOccurs="1" maxOccurs="1" name="Sur">
                                    <xsd:simpleType>
                                      <xsd:restriction base="fps:FullPaymentSubmission_CharsetD">
                                        <xsd:minLength value="1"/>
                                        <xsd:maxLength value="35"/>
                                        <xsd:pattern value="[A-Za-z].*"/>
                                      </xsd:restriction>
                                    </xsd:simpleType>
                                  </xsd:element>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="1" maxOccurs="15" name="Employment">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element minOccurs="0" maxOccurs="1" name="OccPenInd" type="fps:FullPaymentSubmission_YesType"/>
                      <xsd:element minOccurs="0" maxOccurs="1" name="DirectorsNIC">
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="AN">
                              <xsd:annotation>
                                <xsd:documentation>Annual</xsd:documentation>
                              </xsd:annotation>
                            </xsd:enumeration>
                            <xsd:enumeration value="AL">
                              <xsd:annotation>
                                <xsd:documentation>Alternative</xsd:documentation>
                              </xsd:annotation>
                            </xsd:enumeration>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" maxOccurs="1" name="TaxWkOfApptOfDirector">
                        <xsd:simpleType>
                          <xsd:restriction base="xsd:string">
                            <xsd:minLength value="1"/>
                            <xsd:maxLength value="2"/>
                            <xsd:pattern value="[1-9]|[1-4][0-9]|5[0-46]"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" maxOccurs="1" name="Starter">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" maxOccurs="1" name="StartDate">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_DateType"/>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="StartDec">
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                  <xsd:enumeration value="A">
                                    <xsd:annotation>
                                      <xsd:documentation>This is my first job since 6th April</xsd:documentation>
                                    </xsd:annotation>
                                  </xsd:enumeration>
                                  <xsd:enumeration value="B">
                                    <xsd:annotation>
                                      <xsd:documentation>This is my only job</xsd:documentation>
                                    </xsd:annotation>
                                  </xsd:enumeration>
                                  <xsd:enumeration value="C">
                                    <xsd:annotation>
                                      <xsd:documentation>I have another job or pension</xsd:documentation>
                                    </xsd:annotation>
                                  </xsd:enumeration>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="StudentLoan" type="fps:FullPaymentSubmission_YesType"/>
                            <xsd:element minOccurs="0" maxOccurs="1" name="Seconded">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:choice minOccurs="0" maxOccurs="1">
                                    <xsd:element minOccurs="1" maxOccurs="1" name="Stay183DaysOrMore" type="fps:FullPaymentSubmission_YesType"/>
                                    <xsd:element minOccurs="1" maxOccurs="1" name="StayLessThan183Days" type="fps:FullPaymentSubmission_YesType"/>
                                    <xsd:element minOccurs="1" maxOccurs="1" name="InOutUK" type="fps:FullPaymentSubmission_YesType"/>
                                  </xsd:choice>
                                  <xsd:element minOccurs="0" maxOccurs="1" name="EEACitizen" type="fps:FullPaymentSubmission_YesType"/>
                                  <xsd:element minOccurs="0" maxOccurs="1" name="EPM6" type="fps:FullPaymentSubmission_YesType"/>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="OccPension">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element minOccurs="0" maxOccurs="1" name="Bereaved" type="fps:FullPaymentSubmission_YesType"/>
                                  <xsd:element minOccurs="1" maxOccurs="1" name="Amount">
                                    <xsd:simpleType>
                                      <xsd:restriction base="fps:FullPaymentSubmission_IRmonetaryType">
                                        <xsd:maxInclusive value="999999999.99"/>
                                        <xsd:minInclusive value="0.00"/>
                                      </xsd:restriction>
                                    </xsd:simpleType>
                                  </xsd:element>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="StatePension">
                              <xsd:complexType>
                                <xsd:sequence>
                                  <xsd:element minOccurs="0" maxOccurs="1" name="Bereaved" type="fps:FullPaymentSubmission_YesType"/>
                                  <xsd:element minOccurs="1" maxOccurs="1" name="Amount">
                                    <xsd:simpleType>
                                      <xsd:restriction base="fps:FullPaymentSubmission_IRmonetaryType">
                                        <xsd:maxInclusive value="999999999.99"/>
                                        <xsd:minInclusive value="0.01"/>
                                      </xsd:restriction>
                                    </xsd:simpleType>
                                  </xsd:element>
                                </xsd:sequence>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" maxOccurs="1" name="PayId">
                        <xsd:simpleType>
                          <xsd:restriction base="fps:FullPaymentSubmission_PayrollIdType">
                            <xsd:pattern value="[^ ].*"/>
                          </xsd:restriction>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="0" maxOccurs="1" name="PayIdChgd">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="1" maxOccurs="1" name="PayrollIdChangedIndicator" type="fps:FullPaymentSubmission_YesType"/>
                            <xsd:element minOccurs="0" maxOccurs="1" name="OldPayrollId">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_PayrollIdType">
                                  <xsd:minLength value="1"/>
                                  <xsd:maxLength value="35"/>
                                  <xsd:pattern value="[^ ].*"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" maxOccurs="1" name="PaymentToANonIndividual" type="fps:FullPaymentSubmission_YesType"/>
                      <xsd:element minOccurs="0" maxOccurs="1" name="IrrEmp" type="fps:FullPaymentSubmission_YesType"/>
                      <xsd:element minOccurs="0" maxOccurs="1" name="LeavingDate">
                        <xsd:simpleType>
                          <xsd:restriction base="fps:FullPaymentSubmission_DateType"/>
                        </xsd:simpleType>
                      </xsd:element>
                      <xsd:element minOccurs="1" maxOccurs="1" name="FiguresToDate">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="1" maxOccurs="1" name="TaxablePay">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_IRnonNegativeMonetaryType">
                                  <xsd:maxInclusive value="999999999.99"/>
                                  <xsd:minInclusive value="0.00"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="1" maxOccurs="1" name="TotalTax">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_IRmonetaryType">
                                  <xsd:maxInclusive value="999999999.99"/>
                                  <xsd:minInclusive value="-999999999.99"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="StudentLoansTD">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_IRwholeUnitsMonetaryType">
                                  <xsd:maxInclusive value="99999.00"/>
                                  <xsd:minInclusive value="0.00"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="BenefitsTaxedViaPayrollYTD">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_IRmonetaryType">
                                  <xsd:maxInclusive value="999999999.99"/>
                                  <xsd:minInclusive value="0.00"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="EmpeePenContribnsPaidYTD">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_IRmonetaryType">
                                  <xsd:maxInclusive value="999999999.99"/>
                                  <xsd:minInclusive value="0.00"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="EmpeePenContribnsNotPaidYTD">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_IRmonetaryType">
                                  <xsd:maxInclusive value="999999999.99"/>
                                  <xsd:minInclusive value="0.00"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="1" maxOccurs="1" name="Payment">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="0" maxOccurs="1" name="BacsHashCode">
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                  <xsd:length value="64"/>
                                  <xsd:pattern value="[0-9a-f]{64}"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="1" maxOccurs="1" name="PayFreq">
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                  <xsd:enumeration value="W1">
                                    <xsd:annotation>
                                      <xsd:documentation>Weekly</xsd:documentation>
                                    </xsd:annotation>
                                  </xsd:enumeration>
                                  <xsd:enumeration value="W2">
                                    <xsd:annotation>
                                      <xsd:documentation>Fortnightly</xsd:documentation>
                                    </xsd:annotation>
                                  </xsd:enumeration>
                                  <xsd:enumeration value="W4">
                                    <xsd:annotation>
                                      <xsd:documentation>4 Weekly</xsd:documentation>
                                    </xsd:annotation>
                                  </xsd:enumeration>
                                  <xsd:enumeration value="M1">
                                    <xsd:annotation>
                                      <xsd:documentation>Calendar Monthly</xsd:documentation>
                                    </xsd:annotation>
                                  </xsd:enumeration>
                                  <xsd:enumeration value="M3">
                                    <xsd:annotation>
                                      <xsd:documentation>Quarterly</xsd:documentation>
                                    </xsd:annotation>
                                  </xsd:enumeration>
                                  <xsd:enumeration value="M6">
                                    <xsd:annotation>
                                      <xsd:documentation>Bi-annually</xsd:documentation>
                                    </xsd:annotation>
                                  </xsd:enumeration>
                                  <xsd:enumeration value="MA">
                                    <xsd:annotation>
                                      <xsd:documentation>Annually</xsd:documentation>
                                    </xsd:annotation>
                                  </xsd:enumeration>
                                  <xsd:enumeration value="IO">
                                    <xsd:annotation>
                                      <xsd:documentation>One-off</xsd:documentation>
                                    </xsd:annotation>
                                  </xsd:enumeration>
                                  <xsd:enumeration value="IR">
                                    <xsd:annotation>
                                      <xsd:documentation>Irregular</xsd:documentation>
                                    </xsd:annotation>
                                  </xsd:enumeration>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="1" maxOccurs="1" name="PmtDate">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_DateType">
                                  <xsd:maxInclusive value="2014-04-05"/>
                                  <xsd:minInclusive value="2013-04-06"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:choice minOccurs="1" maxOccurs="1">
                              <xsd:element minOccurs="1" maxOccurs="1" name="WeekNo">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:pattern value="[1-9]|[1-4][0-9]|5[0-46]"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element minOccurs="1" maxOccurs="1" name="MonthNo">
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:pattern value="[1-9]|1[0-2]"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                            </xsd:choice>
                            <xsd:element minOccurs="1" maxOccurs="1" name="PeriodsCovered">
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:positiveInteger">
                                  <xsd:pattern value="[1-9][0-9]*"/>
                                  <xsd:maxInclusive value="99"/>
                                  <xsd:minInclusive value="1"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="AggregatedEarnings" type="fps:FullPaymentSubmission_YesType"/>
                            <xsd:element minOccurs="0" maxOccurs="1" name="PmtAfterLeaving" type="fps:FullPaymentSubmission_YesType"/>
                            <xsd:element minOccurs="1" maxOccurs="1" name="HoursWorked">
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                  <xsd:enumeration value="A">
                                    <xsd:annotation>
                                      <xsd:documentation>Up to 15.99</xsd:documentation>
                                    </xsd:annotation>
                                  </xsd:enumeration>
                                  <xsd:enumeration value="B">
                                    <xsd:annotation>
                                      <xsd:documentation>16-29.99 hrs</xsd:documentation>
                                    </xsd:annotation>
                                  </xsd:enumeration>
                                  <xsd:enumeration value="C">
                                    <xsd:annotation>
                                      <xsd:documentation>30 hrs or more</xsd:documentation>
                                    </xsd:annotation>
                                  </xsd:enumeration>
                                  <xsd:enumeration value="D">
                                    <xsd:annotation>
                                      <xsd:documentation>Other</xsd:documentation>
                                    </xsd:annotation>
                                  </xsd:enumeration>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="1" maxOccurs="1" name="TaxCode">
                              <xsd:complexType>
                                <xsd:simpleContent>
                                  <xsd:extension base="fps:_intermediate_TaxCode">
                                    <xsd:attribute use="prohibited" name="SVR">
                                      <xsd:simpleType>
                                        <xsd:restriction base="fps:FullPaymentSubmission_CharsetG">
                                          <xsd:enumeration value="S"/>
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:attribute>
                                    <xsd:attribute use="optional" name="BasisNonCumulative" type="fps:FullPaymentSubmission_YesType"/>
                                  </xsd:extension>
                                </xsd:simpleContent>
                              </xsd:complexType>
                            </xsd:element>
                            <xsd:element minOccurs="1" maxOccurs="1" name="TaxablePay">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_IRmonetaryType">
                                  <xsd:maxInclusive value="999999999.99"/>
                                  <xsd:minInclusive value="-999999999.99"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="NonTaxOrNICPmt">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_IRmonetaryType">
                                  <xsd:maxInclusive value="999999999.99"/>
                                  <xsd:minInclusive value="-999999999.99"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="DednsFromNetPay">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_IRmonetaryType">
                                  <xsd:maxInclusive value="999999999.99"/>
                                  <xsd:minInclusive value="-999999999.99"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="PayAfterStatDedns">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_IRmonetaryType">
                                  <xsd:maxInclusive value="999999999.99"/>
                                  <xsd:minInclusive value="-999999999.99"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="BenefitsTaxedViaPayroll">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_IRmonetaryType">
                                  <xsd:maxInclusive value="999999999.99"/>
                                  <xsd:minInclusive value="-999999999.99"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="EmpeePenContribnsPaid">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_IRmonetaryType">
                                  <xsd:maxInclusive value="999999999.99"/>
                                  <xsd:minInclusive value="-999999999.99"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="ItemsSubjectToClass1NIC">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_IRmonetaryType">
                                  <xsd:maxInclusive value="999999999.99"/>
                                  <xsd:minInclusive value="-999999999.99"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="EmpeePenContribnsNotPaid">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_IRmonetaryType">
                                  <xsd:maxInclusive value="999999999.99"/>
                                  <xsd:minInclusive value="-999999999.99"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="StudentLoanRecovered">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_IRwholeUnitsMonetaryType">
                                  <xsd:maxInclusive value="99999.00"/>
                                  <xsd:minInclusive value="-99999.00"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="1" maxOccurs="1" name="TaxDeductedOrRefunded">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_IRmonetaryType">
                                  <xsd:maxInclusive value="9999999999.99"/>
                                  <xsd:minInclusive value="-9999999999.99"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="OnStrike" type="fps:FullPaymentSubmission_YesType"/>
                            <xsd:element minOccurs="0" maxOccurs="1" name="UnpaidAbsence" type="fps:FullPaymentSubmission_YesType"/>
                            <xsd:element minOccurs="0" maxOccurs="1" name="SSPYTD">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_IRmonetaryType">
                                  <xsd:maxInclusive value="9999.99"/>
                                  <xsd:minInclusive value="0.00"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="SMPYTD">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_IRmonetaryType">
                                  <xsd:maxInclusive value="999999.99"/>
                                  <xsd:minInclusive value="0.00"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="OSPPYTD">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_IRmonetaryType">
                                  <xsd:maxInclusive value="999999.99"/>
                                  <xsd:minInclusive value="0.00"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="SAPYTD">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_IRmonetaryType">
                                  <xsd:maxInclusive value="999999.99"/>
                                  <xsd:minInclusive value="0.00"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="ASPPYTD">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_IRmonetaryType">
                                  <xsd:maxInclusive value="999999.99"/>
                                  <xsd:minInclusive value="0.00"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="3" name="TrivialCommutationPayment">
                              <xsd:complexType>
                                <xsd:simpleContent>
                                  <xsd:extension base="fps:_intermediate_TrivialCommutationPayment">
                                    <xsd:attribute use="required" name="type">
                                      <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                          <xsd:enumeration value="A">
                                            <xsd:annotation>
                                              <xsd:documentation>Trivial commutation lump sums (TCLS)</xsd:documentation>
                                            </xsd:annotation>
                                          </xsd:enumeration>
                                          <xsd:enumeration value="B">
                                            <xsd:annotation>
                                              <xsd:documentation>Small pot lump sum payments from personal pension schemes</xsd:documentation>
                                            </xsd:annotation>
                                          </xsd:enumeration>
                                          <xsd:enumeration value="C">
                                            <xsd:annotation>
                                              <xsd:documentation>Small pot lump sum payments from occupational pension schemes</xsd:documentation>
                                            </xsd:annotation>
                                          </xsd:enumeration>
                                        </xsd:restriction>
                                      </xsd:simpleType>
                                    </xsd:attribute>
                                  </xsd:extension>
                                </xsd:simpleContent>
                              </xsd:complexType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                      <xsd:element minOccurs="0" maxOccurs="4" name="NIlettersAndValues">
                        <xsd:complexType>
                          <xsd:sequence>
                            <xsd:element minOccurs="1" maxOccurs="1" name="NIletter">
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                  <xsd:enumeration value="A"/>
                                  <xsd:enumeration value="B"/>
                                  <xsd:enumeration value="C"/>
                                  <xsd:enumeration value="D"/>
                                  <xsd:enumeration value="E"/>
                                  <xsd:enumeration value="J"/>
                                  <xsd:enumeration value="L"/>
                                  <xsd:enumeration value="N"/>
                                  <xsd:enumeration value="O"/>
                                  <xsd:enumeration value="Q"/>
                                  <xsd:enumeration value="R"/>
                                  <xsd:enumeration value="T"/>
                                  <xsd:enumeration value="W"/>
                                  <xsd:enumeration value="X"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="0" maxOccurs="1" name="SCON">
                              <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                  <xsd:pattern value="S[0-9]{7}[ABCDEFHJKLMNPQRTWXY]"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="1" maxOccurs="1" name="GrossEarningsForNICsInPd">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_IRmonetaryType">
                                  <xsd:maxInclusive value="999999999.99"/>
                                  <xsd:minInclusive value="-999999999.99"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="1" maxOccurs="1" name="GrossEarningsForNICsYTD">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_IRmonetaryType">
                                  <xsd:maxInclusive value="999999999.99"/>
                                  <xsd:minInclusive value="0.00"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="1" maxOccurs="1" name="AtLELYTD">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_IRwholeUnitsMonetaryType">
                                  <xsd:maxInclusive value="9999.00"/>
                                  <xsd:minInclusive value="0.00"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="1" maxOccurs="1" name="LELtoPTYTD">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_IRmonetaryType">
                                  <xsd:maxInclusive value="9999.99"/>
                                  <xsd:minInclusive value="0.00"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="1" maxOccurs="1" name="PTtoUAPYTD">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_IRmonetaryType">
                                  <xsd:maxInclusive value="99999.99"/>
                                  <xsd:minInclusive value="0.00"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="1" maxOccurs="1" name="UAPtoUELYTD">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_IRmonetaryType">
                                  <xsd:maxInclusive value="99999.99"/>
                                  <xsd:minInclusive value="0.00"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="1" maxOccurs="1" name="TotalEmpNICInPd">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_IRmonetaryType">
                                  <xsd:maxInclusive value="999999999.99"/>
                                  <xsd:minInclusive value="-999999999.99"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="1" maxOccurs="1" name="TotalEmpNICYTD">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_IRmonetaryType">
                                  <xsd:maxInclusive value="999999999.99"/>
                                  <xsd:minInclusive value="-999999999.99"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="1" maxOccurs="1" name="EmpeeContribnsInPd">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_IRmonetaryType">
                                  <xsd:maxInclusive value="999999999.99"/>
                                  <xsd:minInclusive value="-999999999.99"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                            <xsd:element minOccurs="1" maxOccurs="1" name="EmpeeContribnsYTD">
                              <xsd:simpleType>
                                <xsd:restriction base="fps:FullPaymentSubmission_IRmonetaryType">
                                  <xsd:maxInclusive value="999999999.99"/>
                                  <xsd:minInclusive value="-999999999.99"/>
                                </xsd:restriction>
                              </xsd:simpleType>
                            </xsd:element>
                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
          <xsd:element minOccurs="1" maxOccurs="1" name="CompressedPart">
            <xsd:complexType>
              <xsd:simpleContent>
                <xsd:extension base="fps:_intermediate_CompressedPart">
                  <xsd:attribute use="optional" default="gzip" name="Type">
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="zip">
                          <xsd:annotation>
                            <xsd:documentation>zip encoding</xsd:documentation>
                          </xsd:annotation>
                        </xsd:enumeration>
                        <xsd:enumeration value="gzip">
                          <xsd:annotation>
                            <xsd:documentation>gzip encoding</xsd:documentation>
                          </xsd:annotation>
                        </xsd:enumeration>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                </xsd:extension>
              </xsd:simpleContent>
            </xsd:complexType>
          </xsd:element>
        </xsd:choice>
        <xsd:element minOccurs="0" maxOccurs="1" name="FinalSubmission">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="0" maxOccurs="1" name="BecauseSchemeCeased" type="fps:FullPaymentSubmission_YesType"/>
              <xsd:element minOccurs="0" maxOccurs="1" name="DateSchemeCeased">
                <xsd:simpleType>
                  <xsd:restriction base="fps:FullPaymentSubmission_DateType">
                    <xsd:maxInclusive value="2014-04-05"/>
                    <xsd:minInclusive value="2013-04-06"/>
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element minOccurs="0" maxOccurs="1" name="ForYear" type="fps:FullPaymentSubmission_YesType"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element minOccurs="0" maxOccurs="1" name="QuestionsAndDeclarations">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element minOccurs="1" maxOccurs="1" name="FreeOfTaxPaymentsMadeToEmployee" type="fps:FullPaymentSubmission_YesNoType"/>
              <xsd:element minOccurs="1" maxOccurs="1" name="ExpensesVouchersOrBenefitsFromOthers" type="fps:FullPaymentSubmission_YesNoType"/>
              <xsd:element minOccurs="1" maxOccurs="1" name="PersonEmployedOutsideUKWorkedFor30DaysOrMore" type="fps:FullPaymentSubmission_YesNoType"/>
              <xsd:element minOccurs="1" maxOccurs="1" name="PayToSomeoneElse" type="fps:FullPaymentSubmission_YesNoType"/>
              <xsd:element minOccurs="1" maxOccurs="1" name="P11DFormsDue" type="fps:FullPaymentSubmission_YesNoType"/>
              <xsd:element minOccurs="1" maxOccurs="1" name="ServiceCompany" type="fps:FullPaymentSubmission_YesNoType"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="FullPaymentSubmission_CharsetB">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Za-z0-9 ]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FullPaymentSubmission_CharsetD">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Za-z \-&apos;]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FullPaymentSubmission_CharsetG">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Za-z0-9 \.,\-\(\)/=!&quot;%&amp;\*;&lt;&gt;&apos;\+:\?]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FullPaymentSubmission_CharsetH">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Za-z\- \.&apos;]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="FullPaymentSubmission_ContactDetailsStructure">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="Name">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Ttl">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="4"/>
                  <xsd:pattern value="[A-Za-z][A-Za-z&apos;\-]*"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="1" maxOccurs="2" name="Fore">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="35"/>
                  <xsd:pattern value="[A-Za-z][A-Za-z&apos;\-]*"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="1" maxOccurs="1" name="Sur">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:minLength value="1"/>
                  <xsd:maxLength value="35"/>
                  <xsd:pattern value="[A-Za-z0-9 ,\.\(\)/&amp;\-&apos;]+"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Email">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="fps:FullPaymentSubmission_EmailType">
              <xsd:attribute use="optional" name="Type" type="fps:FullPaymentSubmission_WorkHomeType"/>
              <xsd:attribute use="optional" name="Preferred" type="fps:FullPaymentSubmission_YesNoType"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Telephone" type="fps:FullPaymentSubmission_TelephoneStructure"/>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Fax" type="fps:FullPaymentSubmission_TelephoneStructure"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="FullPaymentSubmission_DateType">
    <xsd:annotation>
      <xsd:documentation>The date is in the Common Era (minus sign in years is not permitted)</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date">
      <xsd:pattern value="\d{4}-\d{2}-\d{2}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FullPaymentSubmission_EmailType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="3"/>
      <xsd:maxLength value="254"/>
      <xsd:pattern value="[^@&apos;&lt;&gt;&quot;]+@[^@&apos;&lt;&gt;&quot;]+"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FullPaymentSubmission_IRdecimalType">
    <xsd:restriction base="xsd:decimal">
      <xsd:pattern value="-?(([1-9][0-9]*)|0)\.[0-9]{2}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FullPaymentSubmission_IRheaderStringType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Za-z0-9 &amp;&apos;\(\)\*,\-\./]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FullPaymentSubmission_IRmonetaryType">
    <xsd:restriction base="fps:FullPaymentSubmission_IRdecimalType"/>
  </xsd:simpleType>
  <xsd:simpleType name="FullPaymentSubmission_IRnonNegativeMonetaryType">
    <xsd:restriction base="fps:FullPaymentSubmission_IRdecimalType">
      <xsd:minInclusive value="0.00"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FullPaymentSubmission_IRwholeUnitsMonetaryType">
    <xsd:restriction base="fps:FullPaymentSubmission_IRdecimalType">
      <xsd:pattern value=".*\.00"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FullPaymentSubmission_ISOcurrencyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="EUR">
        <xsd:annotation>
          <xsd:documentation>Euro</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="GBP">
        <xsd:annotation>
          <xsd:documentation>Sterling</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FullPaymentSubmission_PAYENINOtype">
    <xsd:restriction base="xsd:string">
      <xsd:length value="9"/>
      <xsd:pattern value="(AA|AB|AE|AH|AK|AL|AM|AP|AR|AS|AT|AW|AX|AY|AZ|BA|BB|BE|BH|BK|BL|BM|BT|CA|CB|CE|CH|CK|CL|CR|EA|EB|EE|EH|EK|EL|EM|EP|ER|ES|ET|EW|EX|EY|EZ|GY|HA|HB|HE|HH|HK|HL|HM|HP|HR|HS|HT|HW|HX|HY|HZ|JA|JB|JC|JE|JG|JH|JJ|JK|JL|JM|JN|JP|JR|JS|JT|JW|JX|JY|JZ|KA|KB|KE|KH|KK|KL|KM|KP|KR|KS|KT|KW|KX|KY|KZ|LA|LB|LE|LH|LK|LL|LM|LP|LR|LS|LT|LW|LX|LY|LZ|MA|MW|MX|NA|NB|NE|NH|NL|NM|NP|NR|NS|NW|NX|NY|NZ|OA|OB|OE|OH|OK|OL|OM|OP|OR|OS|OX|PA|PB|PC|PE|PG|PH|PJ|PK|PL|PM|PN|PP|PR|PS|PT|PW|PX|PY|RA|RB|RE|RH|RK|RM|RP|RR|RS|RT|RW|RX|RY|RZ|SA|SB|SC|SE|SG|SH|SJ|SK|SL|SM|SN|SP|SR|SS|ST|SW|SX|SY|SZ|TA|TB|TE|TH|TK|TL|TM|TP|TR|TS|TT|TW|TX|TY|TZ|WA|WB|WE|WK|WL|WM|WP|YA|YB|YE|YH|YK|YL|YM|YP|YR|YS|YT|YW|YX|YY|YZ|ZA|ZB|ZE|ZH|ZK|ZL|ZM|ZP|ZR|ZS|ZT|ZW|ZX|ZY)[0-9]{6}[A-D ]"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FullPaymentSubmission_PayrollIdType">
    <xsd:restriction base="fps:FullPaymentSubmission_CharsetG">
      <xsd:minLength value="1"/>
      <xsd:maxLength value="35"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="FullPaymentSubmission_TelephoneStructure">
    <xsd:sequence>
      <xsd:element minOccurs="1" maxOccurs="1" name="Number">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="35"/>
            <xsd:pattern value="[0-9\(\)\-\s]{1,35}"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" maxOccurs="1" name="Extension">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="6"/>
            <xsd:pattern value="[0-9]{1,6}"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute use="optional" name="Type" type="fps:FullPaymentSubmission_WorkHomeType"/>
    <xsd:attribute use="optional" name="Mobile" type="fps:FullPaymentSubmission_YesNoType"/>
    <xsd:attribute use="optional" name="Preferred" type="fps:FullPaymentSubmission_YesNoType"/>
  </xsd:complexType>
  <xsd:simpleType name="FullPaymentSubmission_UTRtype">
    <xsd:restriction base="xsd:string">
      <xsd:length value="10"/>
      <xsd:pattern value="[0-9]{10}"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FullPaymentSubmission_WorkHomeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="home"/>
      <xsd:enumeration value="work"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FullPaymentSubmission_YesNoType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="no"/>
      <xsd:enumeration value="yes"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FullPaymentSubmission_YesType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="yes"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!--
  **************************************************************
                    Auto-Generated Types
  **************************************************************

  Declaration of automatically generated named simpleTypes.
  These are necessary when XSDL does not allow inline
  declaration of simpleTypes under certain conditions.

  -->
  <xsd:simpleType name="_intermediate_TaxCode">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="2"/>
      <xsd:maxLength value="7"/>
      <xsd:pattern value="([1-9][0-9]{0,5}[LPTY])|(BR)|(0T)|(NT)|(FT)|(D[01])|([K][1-9][0-9]{0,5})"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="_intermediate_TrivialCommutationPayment">
    <xsd:restriction base="fps:FullPaymentSubmission_IRwholeUnitsMonetaryType">
      <xsd:maxInclusive value="99999.00"/>
      <xsd:minInclusive value="-99999.00"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="_intermediate_CompressedPart">
    <xsd:restriction base="xsd:base64Binary">
      <xsd:minLength value="4"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
